a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.filterDiv {
	vertical-align:top;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
    min-height: 400px;
}

.container {
    overflow: hidden;
}












