a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.filterDiv {
	vertical-align:top;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
    min-height: 415px;
    max-height: 415px;
}

.container {
    overflow: hidden;
}

.active_menu {
	color: teal;
}

.full_screen {
	height: 55vmax;
}

.most_screen {
	min-height: 34vmax;
}

img { 
   border:6px solid #f1f1f1;
}

#no_border{
	border:0px;
}


.diff_font {
	font-family: 'Merriweather', serif;
}

.raleway {
	font-family: 'Fira Sans', sans-serif;

}

.hr {

    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

.big_margin {
    margin-top: 30%;
    margin-bottom: 10%;
    margin-right: 16px;
    margin-left: 16px;
}

.full {
    min-height:85vh;
}

.small_bar {
    height:15vh;
}

.text_margin {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
}













