a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.filterDiv {
	vertical-align:top;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: inline-block;
    min-height: 410px;
    max-height: 410px;
}

.container {
    overflow: hidden;
}

.active_menu {
	color: purple;
}

.full_screen {
	height: 55vmax;
}

.most_screen {
	min-height: 34vmax;
}

img { 
   border:6px solid #f1f1f1;
}












